/* Menu Section */
.nav-bar .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .logo {
    width: 20%;
}

.nav-bar .menu-list a {
    margin-right: 20px;
}

.nav-item .profile-image {
    width: 35px;
    border-radius: 20px;
}

/* Home Page */
.home-page .red-border {
    border: 5px solid red;
}

/* Order Page */
.print-screen {
    background-color: white;
    opacity: 0.3;
}

.red-text {
    color: red !important;
}

.orange-text {
    color: orange !important;
}

.green-text {
    color: green !important;
}

/* Footer Section*/
footer {
    background-color: black;
    color: white;
    padding: 50px;
}

footer .copy-right {
    text-align: center;
}

footer .copy-right span {
    color: #ecc12e;
}

html,
body {
    min-height: 100vh;
}

.home-page,
.product-page,
.order-page {
    min-height: calc(100vh - 269px);
}
