.nav-bar .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .logo {
    width: 20%;
}

.nav-bar .menu-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
}

.nav-bar .menu-list a {
    margin-right: 20px;
}

.home-page .red-border {
    border: 5px solid red;
}

footer {
    background-color: black;
    color: white;
    padding: 50px;
}

footer .copy-right {
    text-align: center;
}

footer .copy-right span {
    color: #ecc12e;
}
