/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31-Jan-2022, 3:14:13 pm
    Author     : shaha
*/
.heightImage {
    height: 200px;
}

.widthImage {
    width: 200px;
}

.advertising {
    height: 200px;
    width: 200px;
}

.copy-right {
    text-align: center;
}
